@media only screen and (max-width: 1200px){
	header{
		min-height: 95vh;
	}
	.hero-area h1 {
	    margin-bottom: 4rem;
	}
	.row{
		margin: 0 1.5rem;
	}
}

@media only screen and (max-width: 1024px){
	html{
	font-size: 57.5%;
	}
	.main-menu{
		display: none;
	}
	/*Testimonial Section*/
	.client{
		text-align: center;
	}
	.client img{
		position: static;
	}
	.client-review {
    	margin-left: 0rem;
	}
	/*Contact Section*/
	form{
	    width: 100%;
	}
	.form-group{
	    width: 48.5%;
	}
	.mobile-menu span{
		display: block;
	}
}
@media only screen and (max-width: 992px){
	html{
	font-size: 62.5%;
	}
	.span_1_of_4{
		width: 49.2%;
		margin-bottom: 3rem;
	}
	.span_1_of_4:nth-child(3){
		margin-left: 0;
	}
	.form-group{
	    width: 48.2%;
	}
}
@media only screen and (max-width: 768px){
	header{
		min-height: 100vh;
	}
	.form-group{
	    width: 48%;
	}
	ul.footer-links li a {
	    margin-bottom: 2rem;
	}
	.form-group{
	    width: 47.5%;
	}
}
@media only screen and  (max-width: 480px){
	.hero-area h1 {
	    font-size: 2.5rem;
	    line-height: 4rem;
	    margin-bottom: 2.5rem;
	}
	.span_1_of_4{
		width: 100%;
	}
	.section-title h2 {
	    font-size: 2.5rem;
	}
	.form-group{
	    width: 100%;
	}
	.btn {
    	padding: 2.0rem 5rem;
	}
	.portfolio-filter button {
	    padding: 0.8rem 1.5rem;
	}
}
