/* ======================= */
/* Basic Setup */
/* ======================= */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
ul li{
	list-style-type: none;
}
a, a:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, input{
	margin: 0;
	padding: 0;
	color: #fff;
}
body{
	font-family: 'Titillium Web', sans-serif;
	text-rendering: optimizeLegibility;
    font-size: 1.6rem;
    color: #3c4761;
}
/* ======================= */
/* Global Components */
/* ======================= */
.row{
	max-width: 114rem;
	margin: 0 auto;
}
/*Button*/
.btn {
    color: #fff;
    padding: 2.8rem 8rem;
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
    border-radius: .5rem;
    display: inline-block;
}
/*Section*/
section{
	padding: 10rem 0;
	overflow: hidden;
}
.section-title{
    text-align: center;
    margin-bottom: 8rem;
}
.section-title h2{
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    line-height: 3rem;
    position: relative;
    padding: 2.2rem 0;
}
.team-area .section-title h2,
.team-area .section-title p,
.skills-area .section-title h2,
.skills-area .section-title p{
    color: #3c4761;
}
.section-title h2::before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: .4rem;
	width: 10%;
	background: #14a58c;
	margin: 0 auto;
}
.team-area .section-title h2::before,
.skills-area .section-title h2::before{
    background: #c8d9e5;
}
.section-title p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
    margin-top: 2.4rem;
}
.portfolio-area .col:nth-child(3),
.testimonial-area .col:nth-child(3){
    margin-left: 0;
}
/* ======================= */
/* Header Section */
/* ======================= */
header{
	background: linear-gradient(rgba(135, 80, 156, 0.9), rgba(135, 80, 156, 0.9)), url('../img/hero-bg.png') no-repeat;
	background-size: cover;
	background-position: center top;
	background-attachment: fixed;
    min-height: 85vh;
	position: relative;
}
.logo{
	float: left;
	margin-top: 5rem;
}
.logo img{
	height: 3.5rem;
}
.main-menu{
	float: right;
	margin-top: 5.3rem;
}
.main-menu li{
	display: inline-block;
}
.main-menu li a {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8rem;
    text-transform: uppercase;
    padding: .7rem 2.2rem;
    transition: .3s;
    display: block;
}
.main-menu li a:hover,
.active{
	background: #643a79;
	border-radius: .3rem;
}
/*Mobile Menu*/
.mobile-menu span {
    font-size: 4rem;
    color: #fff;
    float: right;
    margin-top: 4.5rem;
    display: none;
}
.mobile-menu span:hover{
    cursor: pointer;
}
.mobile-menu .overlay{
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 999;
    overflow-x: hidden;
    transition: .5s;
}
.overlay-content{
    position: relative;
    top: 12%;
    width: 100%;
    text-align-last: center;
    margin-top: 3rem;
}
.overlay-content a{
    display: block;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #999;
    padding: 1rem 0;
    transition: .3s;
}
.overlay-content a:hover{
    color: #fff;
    font-weight: 600;
}
.close-btn{
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 3rem;
    color: #fff;
}
/*Sticky Navigation*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(135,80,156,0.9); 
    z-index: 10;
    box-shadow: 0 .1rem .5rem rgba(255,255,255, .9);
}
.sticky .main-menu{
    margin-top: 0.3rem;
    padding: 0.8rem 0;
}
.sticky .logo{
    margin-top: 0rem;
    padding: 0.8rem 0;
}
.sticky .mobile-menu span{
    margin-top: 0rem;
    padding: 0.8rem 0
}
.hero-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}
.hero-area h1 {
    font-size: 3.3rem;
    font-weight: 700;
    line-height: 4.8rem;
    margin-bottom: 5.5rem;
}
.btn-hero{
	background: #eb7d4b;
	border-bottom: .5rem solid #c86a40;
}
/* ======================= */
/* Services Section */
/* ======================= */
.services-area{
	background: linear-gradient(rgba(20,165,140,0.9), rgba(20,165,140,0.9)), url('../img/services-bg.png') no-repeat;
	background-size: cover;
	background-position: top center;
    background-attachment: fixed;
}
.single-service{
    text-align: center;
}
.single-service img{
	margin-bottom: 6rem;
}
.single-service h3{
    color: #fff;
    font-size: 2.4rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
    letter-spacing: 0.02rem;
}
.single-service p {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.4rem;
}
/* ======================= */
/* Team Section */
/* ======================= */
.team-area{
	background: #e7f1f8;
    background: linear-gradient(rgba(231,241,248,0.9), rgba(231,241,248,0.9)), url('../img/team-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.team-member{
	text-align: center;
}
.member-img img{
    width: 20rem;
    height: 20rem;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
    z-index: 0;
}
.member-img::before{
	content: '';
	position: absolute;
	background: #ddd;
	height: 20rem;
	width: 20rem;
	z-index: 1;
	border-radius: 100%;
	opacity: 0;
	visibility: hidden;
}
.member-text{
	margin-bottom: 3.7rem;
}
.member-text h3 {
    color: #27283d;
    font-size: 2.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.02rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}
.member-text h4 {
    color: #30bae7;
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1.8rem;
}
.member-text p {
    color: #3c4761;
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
}
.social-icon a i {
    color: #fff;
    font-size: 1.6rem;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #bdd1df;
    display: inline-block;
    margin-left: 1rem;
    text-align: center;
    border-radius: 100%;
    transition: .3s;
}
.social-icon a i:hover{
	transform: rotateZ(360deg);
}
.social-icon a i.fa-facebook-f:hover{
    background: #3b5999;
}
.social-icon a i.fa-twitter:hover{
    background: #1da1f2;
}
.social-icon a i.fa-linkedin-in:hover{
    background: #0077B5;
}
.social-icon a i.fa-envelope:hover{
    background: #dd4b39;
}
/* ======================= */
/* Skills Section */
/* ======================= */
.skills-area{
    background: linear-gradient(rgba(251,251,251,0.9), rgba(251,251,251,0.9)), url('../img/skill-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}
.skill{
    text-align: center;
}
.skill h3 {
    color: #3c4761;
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.02rem;
}
svg.radial-progress{}
svg.radial-progress circle{
    stroke-width: 5;
}
svg.radial-progress text {
    fill: #3c4761;
    font-size: 2rem;
    font-weight: 100;
}
svg.web-design circle{
    stroke: #30bae7;
}
svg.html-css circle{
    stroke: #d74680;
}
svg.graphics-design circle{
    stroke: #15c7a8;
}
svg.ui-ux circle{
    stroke: #eb7d4b;
}
/* ======================= */
/* Portfolio Section */
/* ======================= */
.portfolio-area{
    background: linear-gradient(rgba(255,221,153,0.9), rgba(255,221,153,0.9)), url('../img/portfolio-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
.portfolio-area .section-title{
    margin-bottom: 5rem;
}
.portfolio-area .section-title h2,
.portfolio-area .section-title p{
    color: #393939;
}
.portfolio-area .section-title h2::before{
    background: #e5c37f;
}
.portfolio-filter{
    margin-bottom: 6rem;
}
.portfolio-filter button {
    font-size: 1.8rem;
    font-weight: 400;
    background: #ebc985;
    padding: 1.5rem 2.5rem;
    border: 0;
    border-radius: 0.5rem;
    text-transform: uppercase;
    transition: .3s;
    margin-left: 1rem;
}
.portfolio-filter button:hover{
    background: #fff;
    cursor: pointer;
}
.single-portfolio{
    margin-bottom: 6.7rem;
}
.single-portfolio img {
    margin-bottom: 3rem;
    width: 100%;
    height: auto;
}
.single-portfolio h4 {
    color: #393939;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.02rem;
}
.btn-portfolio{
    background: #17c2a4;
    border-bottom: .5rem solid #14a58c;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}
.portfolio-area .mixitup-control-active{
    background: #fff;
}
/* ======================= */
/* Testimonial Section */
/* ======================= */
.testimonial-area{
    background: linear-gradient(rgba(215,70,128,0.95), rgba(215,70,128,0.95)), url('../img/testimonial-bg.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.testimonial-area .section-title h2::before{
    background: #b73c6d;
}
.testimonial-area .col:nth-child(1), 
.testimonial-area .col:nth-child(2){
    margin-bottom: 15rem;
}
.client img {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    position: absolute;
}
.client-review {
    margin-left: 15rem;
}
.client-review p {
    color: #fff;
    font-size: 2.1rem;
    line-height: 3.1rem;
    font-style: italic;
    letter-spacing: 0.02rem;
    margin-bottom: 3.6rem;
}
.client-review h3 {
    font-size: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    margin-bottom: 1rem;
}
.client-review span {
    font-size: 1.8rem;
    color: #ffdd99;
    line-height: 2.6rem;
}
/* ======================= */
/* Contact Section */
/* ======================= */
.contact-area{
    background: linear-gradient(rgba(60,84,153,0.95), rgba(60,84,153,0.95)), url('../img/contact-bg.jpg') no-repeat;
    background-size: cover;
    background-position: top center;
}
.contact-area .section-title h2::before{
    background: #273a71;
}
form{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
.form-group{
    width: 48%;
    float: left;
}
.form-group:nth-child(1){
    margin-right: 3rem;
}
.form-group input[type="text"],
.form-group input[type="email"],
textarea{
    background: #273a71;
    font-size: 1.8rem;
    color: #fff;
}
.form-group input{
    width: 100%;
    height: 5.5rem;
    padding: 0 25px;
    border: none;
    border-radius: 5px;
    margin-bottom: 2.7rem;
}
textarea{
    width: 100%;
    height: 20rem;
    padding: 2.5rem 0 0 2.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 6rem;
}
.contact-area form ::placeholder{
    color: #fff;
    opacity: 1;
}
.btn-contact{
    background: #30bae7;
    border:0;
    border-bottom: .5rem solid #299ec5;
}
.btn-contact:hover{
    cursor: pointer;
}
/* ======================= */
/* Footer Section */
/* ======================= */
.footer-area{
    text-align: center;
    background: #344b8e;
    padding: 5rem 0;
}
ul.footer-links{}
ul.footer-links li{
    display: inline-block;
    padding: 0 2.7rem;
}
ul.footer-links li a {
    color: #fff;
    font-size: 2.4rem;
    line-height: 3rem;
    transition: .3s;
    display: block;
}
ul.footer-links li a:hover{
    color: #30bae7;
}
